<launch>
    

    <!-- Launch the aruco_ros node for multiple marker detection -->
    <node pkg="aruco_ros" type="marker_publisher" name="aruco_marker_publisher" output="screen">
        <param name="image_topic" value="/clock" />
        <param name="camera_info_topic" value="/raspicam_node/camera_info" />
        <param name="marker_size" value="0.25" /> <!-- Marker size in meters -->
        <param name="aruco_dictionary_id" value="5X5_250" /> <!-- Specify the dictionary used -->
    </node>

    <!-- Launch your SLAM node -->
    <node pkg="my_slam_pkg" type="aruco_detection.py" name="aruco_detection" output="screen">
    </node>
</launch>
